md-tabs.md-primary(md-stretch-tabs="always")
  md-tab(ui-sref="base.tabs.theaters" md-active="state.current.data.tab == 'theaters'") Salles
  md-tab(ui-sref="base.movieList" md-active="state.current.data.tab == 'movies'") Films

md-content
  div(
    flex="grow" layout="row" layout-align="space-around center"
    ng-if="!ready"
  )
    md-progress-circular(md-mode="indeterminate")
  //- div(
  //-   infinite-scroll="loadMore()"
  //-   infinite-scroll-parent
  //-   infinite-scroll-distance="1"
  //- )
  //-   md-grid-list(
  //-     md-cols-xs='2'
  //-     md-cols-sm='3'
  //-     md-cols-md='4'
  //-     md-cols-gt-md='6'
  //-     md-row-height-gt-md='3:4'
  //-     md-row-height='3:4'
  //-     md-gutter='12px'
  //-     md-gutter-sm='5px'
  //-     md-gutter-xs='2px'
  //-   )
  //-     md-grid-tile(
  //-       ng-repeat="movie in movies"
  //-       ui-sref="base.showtimeByMovie({movieId: movie.id})"
  //-       style="cursor: pointer;"
  //-     )
  //-       img(src="{{ movie.poster }}" width="100%" height="100%")
  //-       md-grid-tile-footer
  //-         h3 {{ movie.originalTitle }}
          
  md-list(
    infinite-scroll="loadMore()"
    infinite-scroll-parent
    infinite-scroll-distance="1"
  )
    md-list-item.md-3-line(
      ng-repeat="movie in movies"
    )
      md-button.md-no-style.md-ink-ripple(ng-click="goToMovieDetails(movie.id)" aria-label="movie")
        .md-list-item-text
          h3(style="font-weight: bold;") {{ movie.originalTitle }}
          h4(style="white-space: normal;") de {{ movie.director }}
          p Sortie le {{ movie.releaseDate }}
        md-divider(ng-if="!last")
