div(
  flex="grow" layout="row" layout-align="space-around center"
  ng-if="!ready"
)
  md-progress-circular(md-mode="indeterminate")

md-list(
  ng-if="ready"
  infinite-scroll="loadMore()"
  infinite-scroll-parent
  infinite-scroll-distance="1"
)
  md-list-item.md-2-line(
    ng-repeat="theater in theaters"
  )
    md-button.md-no-style.md-ink-ripple(ng-click="showtime(theater)" aria-label="theater")
      .md-list-item-text
        h3 {{ theater.name }}
        p {{ theater.address }}, {{ theater.postalCode }} {{ theater.city }}
