md-toolbar
  .md-toolbar-tools
    md-button.md-icon-button(aria-label='back' ng-click="back()")
      md-icon(md-svg-icon='arrow-left')
    h2
      span {{ movie.originalTitle }}

div(layout="row" layout-wrap ng-if="ready")
  div.md-padding
    span.md-subhead {{ movie.synopsis | htmlToPlaintext }}
  div(
    flex-gt-lg="20" flex-lg="25" flex-md="33" flex-sm="50" flex-xs="100"
    ng-repeat="theater in theaters"
    layout="column"
  )
    md-card(flex="grow" layout="column" layout-align="start")
      md-card-title(flex="initial" layout="row")
        md-card-title-text(flex)
          span.md-headline {{ theater.name }}
          span.md-subhead {{ theater.address }} {{ theater.postalCode }} {{ theater.city }} ({{ theater.actualDistance.toFixed(0) }} kms)
        div(flex)
        a.md-icon-button(
          target="_blank"
          ng-if="PLATEFORM === 'DESKTOP'"
          href="//maps.google.com/?q={{ theater.geopoint.lat }},{{ theater.geopoint.lng }}"
        )
          md-icon(md-svg-icon='google-maps')
        a.md-icon-button(
          ng-if="PLATEFORM === 'MOBILE'"
          href="geo:{{ theater.geopoint.lat }},{{ theater.geopoint.lng }}?q={{ theater.name }}+{{ theater.address }}+{{ theater.postalCode }}+{{ theater.city }}"
        )
          md-icon(md-svg-icon='google-maps')
      md-card-content
        div(ng-repeat="(language, showtimesByLanguage) in groupedShowtimes[theater.id]")
          h3 {{ language }}
          span(ng-repeat="(day, showtimesByDay) in groupedShowtimes[theater.id][language]")
            | {{ showtimesByDay[0].day }}: 
            span(ng-repeat="showtimes in groupedShowtimes[theater.id][language][day]")
              | {{ showtimes.datetime | date : "H'h'mm" }}
              span(ng-if="!$last") , 
            hr(ng-if="!$last")
