div(
  flex="grow" layout="row" layout-align="space-around center"
  ng-if="!ready"
)
  md-progress-circular(md-mode="indeterminate")

div(
  ng-if="ready && showtimes.length == 0"
  flex
  layout-align="center center"
  layout="column"
)
  div.text-center Ce cinéma n'enregistre pas encore ses séances...

div(layout="row" layout-wrap ng-if="ready")
  div(
    flex-gt-lg="20" flex-lg="25" flex-md="33" flex-sm="50" flex-xs="100"
    ng-repeat="movie in movies"
    layout="column"
  )
    md-card(flex="grow" layout="column" layout-align="start")
      //- img.md-card-image(ng-src='{{ movie.poster }}', alt='movie poster' )
      md-card-title(flex="initial" ui-sref="base.movieDetails({ movieId: movie.id })")
        md-card-title-text
          span.md-headline {{ movie.originalTitle }}
          span.md-subhead {{ movie.synopsis | htmlToPlaintext }}
      md-card-content
        div(ng-repeat="(language, showtimesByLanguage) in groupedShowtimes[movie.id]")
          h3 {{ language }}
          span(ng-repeat="(day, showtimesByDay) in groupedShowtimes[movie.id][language]")
            | {{ showtimesByDay[0].day }}: 
            span(ng-repeat="showtimes in groupedShowtimes[movie.id][language][day]")
              | {{ showtimes.datetime | date : "H'h'mm" }}
              span(ng-if="!$last") , 
            hr(ng-if="!$last")
